In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [64]:
train = pd.read_csv("/kaggle/input/titanic/train.csv")
test = pd.read_csv("/kaggle/input/titanic/test.csv")

In [65]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [69]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_encoded
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,1
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,0
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,1
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,1
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,0

In [66]:
train.shape

(891, 12)

In [67]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(train['Sex'])
le.fit(test['Sex'])
# Transform the gender column
train['Sex_encoded'] = le.transform(train['Sex'])
test['Sex_encoded'] = le.transform(test['Sex'])

In [72]:
X_train_full = train.drop(labels=["Name", "PassengerId", "Ticket", "Cabin", "Embarked", "Survived", "Sex"], axis=1)
Y_train_full = train["Survived"]

In [74]:
X_train_full = X_train_full.fillna(0)
X_train_full.head()

   Pclass   Age  SibSp  Parch     Fare  Sex_encoded
0       3  22.0      1      0   7.2500            1
1       1  38.0      1      0  71.2833            0
2       3  26.0      0      0   7.9250            0
3       1  35.0      1      0  53.1000            0
4       3  35.0      0      0   8.0500            1

In [75]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_full = scaler.fit_transform(X_train_full)

In [83]:
from sklearn.model_selection import train_test_split 
X_train, X_valid, Y_train, Y_valid = train_test_split(X_train_full, Y_train_full)

In [84]:
import tensorflow as tf
from tensorflow import keras

In [85]:
Y_train = Y_train.values

In [86]:
print(X_train.shape, Y_train.shape)

(668, 6) (668,)

In [91]:
model = keras.models.Sequential([
    keras.layers.Dense(16, activation="relu", input_shape=X_train.shape[1:]),
    keras.layers.Dense(1, activation="sigmoid")
])

In [93]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [94]:
history = model.fit(X_train, Y_train, epochs=30, validation_data=(X_valid, Y_valid))

Epoch 1/30
21/21 [==============================] - 1s 12ms/step - loss: 0.7164 - accuracy: 0.5898 - val_loss: 0.6876 - val_accuracy: 0.6233
Epoch 2/30
21/21 [==============================] - 0s 4ms/step - loss: 0.6707 - accuracy: 0.6033 - val_loss: 0.6405 - val_accuracy: 0.6413
Epoch 3/30
21/21 [==============================] - 0s 3ms/step - loss: 0.6325 - accuracy: 0.6257 - val_loss: 0.6037 - val_accuracy: 0.6996
Epoch 4/30
21/21 [==============================] - 0s 3ms/step - loss: 0.6030 - accuracy: 0.6662 - val_loss: 0.5738 - val_accuracy: 0.7220
Epoch 5/30
21/21 [==============================] - 0s 3ms/step - loss: 0.5782 - accuracy: 0.7051 - val_loss: 0.5494 - val_accuracy: 0.7444
Epoch 6/30
21/21 [==============================] - 0s 3ms/step - loss: 0.5574 - accuracy: 0.7515 - val_loss: 0.5305 - val_accuracy: 0.7668
Epoch 7/30
21/21 [==============================] - 0s 3ms/step - loss: 0.5398 - accuracy: 0.7829 - val_loss: 0.5158 - val_accuracy: 0.7803
Epoch 8/30
21/21 [==============================] - 0s 3ms/step - loss: 0.5263 - accuracy: 0.7889 - val_loss: 0.5018 - val_accuracy: 0.7623
Epoch 9/30
21/21 [==============================] - 0s 3ms/step - loss: 0.5134 - accuracy: 0.7889 - val_loss: 0.4913 - val_accuracy: 0.7758
Epoch 10/30
21/21 [==============================] - 0s 3ms/step - loss: 0.5027 - accuracy: 0.7919 - val_loss: 0.4830 - val_accuracy: 0.7803
Epoch 11/30
21/21 [==============================] - 0s 4ms/step - loss: 0.4941 - accuracy: 0.7979 - val_loss: 0.4759 - val_accuracy: 0.7937
Epoch 12/30
21/21 [==============================] - 0s 3ms/step - loss: 0.4869 - accuracy: 0.7964 - val_loss: 0.4693 - val_accuracy: 0.7758
Epoch 13/30
21/21 [==============================] - 0s 3ms/step - loss: 0.4803 - accuracy: 0.7949 - val_loss: 0.4638 - val_accuracy: 0.7803
Epoch 14/30
21/21 [==============================] - 0s 3ms/step - loss: 0.4753 - accuracy: 0.8009 - val_loss: 0.4592 - val_accuracy: 0.7803
Epoch 15/30
21/21 [==============================] - 0s 3ms/step - loss: 0.4707 - accuracy: 0.7994 - val_loss: 0.4548 - val_accuracy: 0.7758
Epoch 16/30
21/21 [==============================] - 0s 3ms/step - loss: 0.4662 - accuracy: 0.8009 - val_loss: 0.4506 - val_accuracy: 0.7758
Epoch 17/30
21/21 [==============================] - 0s 4ms/step - loss: 0.4629 - accuracy: 0.8009 - val_loss: 0.4479 - val_accuracy: 0.7803
Epoch 18/30
21/21 [==============================] - 0s 3ms/step - loss: 0.4599 - accuracy: 0.8009 - val_loss: 0.4460 - val_accuracy: 0.7758
Epoch 19/30
21/21 [==============================] - 0s 3ms/step - loss: 0.4565 - accuracy: 0.8024 - val_loss: 0.4437 - val_accuracy: 0.7803
Epoch 20/30
21/21 [==============================] - 0s 3ms/step - loss: 0.4544 - accuracy: 0.8024 - val_loss: 0.4420 - val_accuracy: 0.7803
Epoch 21/30
21/21 [==============================] - 0s 3ms/step - loss: 0.4524 - accuracy: 0.8024 - val_loss: 0.4401 - val_accuracy: 0.7803
Epoch 22/30
21/21 [==============================] - 0s 3ms/step - loss: 0.4502 - accuracy: 0.8039 - val_loss: 0.4388 - val_accuracy: 0.7848
Epoch 23/30
21/21 [==============================] - 0s 3ms/step - loss: 0.4487 - accuracy: 0.8039 - val_loss: 0.4378 - val_accuracy: 0.7848
Epoch 24/30
21/21 [==============================] - 0s 3ms/step - loss: 0.4480 - accuracy: 0.8024 - val_loss: 0.4364 - val_accuracy: 0.7848
Epoch 25/30
21/21 [==============================] - 0s 4ms/step - loss: 0.4459 - accuracy: 0.8039 - val_loss: 0.4351 - val_accuracy: 0.7848
Epoch 26/30
21/21 [==============================] - 0s 3ms/step - loss: 0.4448 - accuracy: 0.8039 - val_loss: 0.4340 - val_accuracy: 0.7848
Epoch 27/30
21/21 [==============================] - 0s 3ms/step - loss: 0.4436 - accuracy: 0.8054 - val_loss: 0.4330 - val_accuracy: 0.7892
Epoch 28/30
21/21 [==============================] - 0s 3ms/step - loss: 0.4427 - accuracy: 0.8069 - val_loss: 0.4322 - val_accuracy: 0.7892
Epoch 29/30
21/21 [==============================] - 0s 3ms/step - loss: 0.4417 - accuracy: 0.8054 - val_loss: 0.4317 - val_accuracy: 0.7892
Epoch 30/30
21/21 [==============================] - 0s 4ms/step - loss: 0.4406 - accuracy: 0.8069 - val_loss: 0.4304 - val_accuracy: 0.7892